* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
 background-color: #fff; 
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

h1 {
  color: #fff;
  font-size: 200%;
  letter-spacing: 1px;
  float: left;
  margin: 0 0;
  padding: 2px 5px 5px 100px;
  word-spacing: 2px;
}

h2 {
  margin-top: 1px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}


/* ----- ICONS ----- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  
  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* Header Row */
.fixed-nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-row {
  margin: auto auto;
  color: #fff;
  background-color: #000000;
  text-align: center;
  overflow: hidden;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* Logo */

.logo {
  height: 50px;
  border-radius: 20%;
  margin: 3px 0 3px 30px;
  width: auto;
  float: left;
}

.SideDrawerlogo {
  height: 40px;
  border-radius: 90%;
  margin: 10px 0 3px 20px;
  width: auto;
}

.subTitle {
  background-color: #f4f4f4;
  padding: 10px 0px 10px 0px;
}

.subTitle p {
  margin: 10px 0 3px 20px;
}


.hamburger {
  height: 27px;
  border-radius: 20%;
  margin: 3px 0 3px 10px;
  width: auto;
  float: left;
}



/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin:12px 100px 0 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* side-nav */

.side-nav  {
  margin:12px 100px 0 0;
}

.side-nav li {
  margin-left: 10px;
  color:rgb(15, 15, 15);
  list-style: none;
}

.side-nav li a:link,
.side-nav li a:visited {
  padding: 8px 0;
  color: rgb(12, 12, 12);
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.side-nav li a:hover,
.side-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* Home Page */

.home-page {
  margin-top: 20px;
}

.imageRenderer {
  padding-top: 36.4px;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 56vw; 
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./backq.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./backq.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

/*
.imageRenderer img {
  margin-top: 22px;
  background-position:center;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 43rem;
}
*/

.imageRenderer .navigation {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.imageRenderer .navigation .play-pause {
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: center;
}

.imageRenderer .navigation .play-pause button {
  border: none;
  width: 25px;
  background-color: transparent;
  color: white;
  font-size: 110%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.imageRenderer .navigation .dots {
  position: absolute;
  bottom: 0;
  left: 10px;
  text-align: center;
}

.imageRenderer .navigation .dots button {
  border: none;
  width: 20px;
  background-color: transparent;
  color: #fff;
  vertical-align: middle;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.imageRenderer .navigation .dots button:disabled {
  color: #fff;
}

.imageRenderer .navigation .dots button::before {
  content: '⬤';
  font-size: 0.6em;
}

.imageRenderer .navigation .dots button:disabled::before {
  font-size: 0.2em;
}

.imageRenderer .navigation button {
  opacity: 0.6;
}

.imageRenderer:hover .navigation button {
  opacity: 0.7;
}

.imageRenderer .navigation button:hover {
  color: #88f;
}

.imageRenderer .step-precentage {
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  background-color: #e67e22;
  opacity: 0.5;
  animation: step-time linear;
}

@keyframes step-time {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* About */

.section-steps {
  background-color: #f4f4f4;
  margin: 0 0;
  padding: 5px 5px;
}

.steps-box {
  margin-top: 30px;
  padding-right: 3%;
}

.app-screen {
  margin-left: 90px;
  width: 75%;
  height: auto;
}

.works-step div {
  margin-bottom: 50px;
  color: #e67e22;
  font-size: 150%;
  height: 54px;
  width: 54px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  float: left;
  padding: 5px;
}

/* Testimonals */

.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./backq.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./backq.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.blockquote1 {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

.blockquote1:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

.cite1 {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

.cite1img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* Gallery */
.section-gallery {
  background-size: cover;
  padding: 80px 10px 50px 10px;
}

.gallery-showcase {
  list-style: none;
  width: 100%;
}

.gallery-showcase li {
  display: block;
  float: left;
  width: 25%;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

.gallery-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.gallery-photo img {
  background-position:center;
  opacity: 0.9;
  width: 30vw;
  height: 25vw;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.9s, opacity 0.9s;
  transition: transform 0.9s, opacity 0.9s;
}

.gallery-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

/* form */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

/* Buttons */

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
}

.btn-small {
  display: inline-block;
  float: right;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  text-align: center;
  padding: 4px 4px;
  border-radius: 100px;
}

.btn-small:hover,
.btn-small:active {
  background-color: #cf6d17;
}

/* Gallery Image*/


.imageGallery {
  position: relative;
  overflow: hidden;
  width: 98vw;
  height: 38vw; 
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./backq.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./backq.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

/*

.imageGallery img {
  margin-top: 10px;
  background-position:center;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 31rem;
}
*/

.imageGallery img {  
  height: 31rem;
}


.imageGallery .navigation {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.imageGallery .navigation .play-pause {
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: center;
}

.imageGallery .navigation .play-pause button {
  border: none;
  width: 25px;
  background-color: transparent;
  color: white;
  font-size: 110%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.imageGallery .navigation .dots {
  position: absolute;
  bottom: 0;
  left: 10px;
  text-align: center;
}

.imageGallery .navigation .dots button {
  border: none;
  width: 20px;
  background-color: transparent;
  color: #fff;
  vertical-align: middle;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.imageGallery .navigation .dots button:disabled {
  color: #fff;
}

.imageGallery .navigation .dots button::before {
  content: '⬤';
  font-size: 0.6em;
}

.imageGallery .navigation .dots button:disabled::before {
  font-size: 0.2em;
}

.imageGallery .navigation button {
  opacity: 0.6;
}

.imageGallery:hover .navigation button {
  opacity: 0.7;
}

.imageGallery .navigation button:hover {
  color: #88f;
}

.imageGallery .step-precentage {
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  background-color: #e67e22;
  opacity: 0.5;
  animation: step-time linear;
}

@keyframes step-time {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Footer */

.footer-page {
  background-color: #000;
  padding: 10px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  text-align: center;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram{
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}

.ion-logo-twitter:hover {
  color: #00aced;
}

.ion-logo-googleplus:hover {
  color: #dd4b39;
}

.ion-logo-instagram:hover {
  color: #517fa4;
}


.footer-page  p {
  color: #888;
  text-align: center;
  margin-top: 10px;
}

.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

.Content {
  margin-top: 72px;
}


.Backdrop {
  width: 80%;
  height: 70%;
  position: fixed;
  z-index: 100;
  top: 27px;
  left: 0;
  background-color: rgb(255, 250, 250);
}

.Backdrop li {
  padding: 10px 0px 10px 0px;
  color: #ddd;
}

.Backdrop ul {
  padding: 10px 0px 10px 0px;
}

.Layout
{
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 1200px) {

h1 {
  padding: 2px 5px 5px 25px;
}

.main-nav {
  margin:12px 25px 0 0;
}

.app-screen {
  padding-top: 20px;
  height: 40vw;
  margin-left: 40px;
  width: 75%;
}

.contact-detail {
  font-size: 90%;
}
  
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1025px) {


h1 {
  color: #fff;
  font-size: 130%;
  letter-spacing: 1px;
  float: left;
  margin: 0 0;
  word-spacing: 1px;
  padding: 2px 5px 5px 50px;
}

.main-nav {
  margin:5px 5px 0 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.logo {
  height: 25px;
  border-radius: 20%;
  margin: 3px 0 3px 10px;
  width: auto;
  float: left;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 25px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
}


.imageRenderer {
  padding-top: 19px;
  height: 133vw;
}

.imageRenderer img {
  width: 100%;
  height: 100%;
}

.imageGallery {
  padding-top: 1px;
  height: 108vw;
}

/*
.imageGallery img {
  height: 40rem;
  width: 28rem;
}
*/

.imageGallery img {
  height: 40rem;
  width: 28rem;
}

.app-screen {
  padding-top: 40px;
  height: 52vw;
  margin-left: 30px;
  width: 75%;
}

.contact-detail {
  font-size: 65%;
}

.gallery-photo img {
  width: 19vw;
  height: 32vw;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.9s, opacity 0.9s;
  transition: transform 0.9s, opacity 0.9s;
}

  
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

.logo {
    display: none;
}


.imageRenderer .navigation .dots {
  display: none;
}


.imageGallery .navigation .dots {
  display: none;
}

.main-nav {
    display: none;
}

/*
.imageGallery img {
  height: 21rem;
  width: 15rem;
}
*/

.imageGallery img {
  height: 21rem;
  width: 15rem;
}


.app-screen {
  padding-top: 10px;
  height: 20vw;
  margin-left: 45px;
  width: 75%;
  height: auto;
}

.gallery-showcase {
  list-style: none;
  width: 100%;
}

.gallery-showcase li {
  display: block;
  float: left;
  width: 50%;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

.gallery-photo img {
  width: 38vw;
  height: 52vw;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.9s, opacity 0.9s;
  transition: transform 0.9s, opacity 0.9s;
}

.btn-full {
  padding: 8px 8px;
}

.contact-detail {
  font-size: 65%;
}
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  

  .imageRenderer .navigation .dots {
    display: none;
  }

.imageGallery .navigation .dots {
    display: none;
  }


  .main-nav {
    display: none;
}


.app-screen {
  padding-top: 10px;
  height: 15vw;
  margin-left: 45px;
  width: 75%;
  height: auto;
}

.contact-detail {
  font-size: 50%;
}

.gallery-photo img {
  width: 38vw;
  height: 61vw;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.9s, opacity 0.9s;
  transition: transform 0.9s, opacity 0.9s;
}

.hamburger {
  height: 20px;
  border-radius: 20%;
  margin: 5px 0 5px 10px;
  width: auto;
  float: left;
}

.imageRenderer {
  padding-top: 1px;
  height: 176vw;
}

.imageRenderer img {
  width: 100%;
  height: 100%;
}

.imagegallery {
  padding-top: 1px;
  height: 176vw;
  width: 120vw;
}

.imagegallery img {
  width: 10%;
  height: 5%;
}



}

@media (min-width: 500px) and (min-height: 400px) {



  .imageGallery .navigation .dots {
    display: none;
  }

.Backdrop {
    display: none;
}

.side-nav {
    display: none;
}

.hamburger {
  display: none;
}

}
